@model IEnumerable<blog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<section>
    <form action="#" method="post">
        <h3>Search for post</h3>
        <p>
            <label for="fromDate">Between</label>
            <input name="fromDate" id="fromDate" type="date" required />
        </p>
        <p>
            <label for="untilDate">To</label>
            <input name="untilDate" id="untilDate" type="date" required />
        </p>
        <p>
            <label for="authorName">Author</label>
            <input name="authorName" id="authorName" type="text" required />
        </p>
        <p>
            <label for="email">E-mail</label>
            <input name="email" id="email" type="email" required />
        </p>
        <p>
            <label for="minPostComments">Minimum post comments</label>
            <input name="minPostComments" id="minPostComments" min="0" max="10" type="range" />
        </p>
        <p><input id="search_btn" name="search_btn" type="submit" value="Search post" /></p>
    </form>
</section>
@{int itemCount = 0; }|

@foreach (var item in Model)
{
    itemCount++;
    <hr />
<section>
    <article class="blogPost">
        <header>
            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
            <p>Posted on <time datetime="@item.Date">@Html.DisplayFor(modelItem => item.Date)</time> by <a href="@Html.DisplayFor(modelItem => item.AuthorWebsiteUrl)">@Html.DisplayFor(modelItem => item.Author)</a> - <a href="#comments">@Html.DisplayFor(modelItem => item.Comments.Count) comments</a></p>
        </header>
        <div>
            <p>@Html.DisplayFor(modelItem => item.Content)</p>

            @if (!String.IsNullOrEmpty(item.Image))
            {
                <img src="~/Content/images/posts/@item.Image" alt="@item.Image" />
            }

            @if (!String.IsNullOrEmpty(item.Video))
            {
                <video controls="controls">
                    <source src="~/Content/videos/posts/@item.Video" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            }
        </div>
    </article>
</section>
<section class="comments">
    <h3>Comments</h3>

    @foreach (var comment in item.Comments)
    {
        string authourWebsiteUrl = "#";

        if (!String.IsNullOrEmpty(comment.AuthorWebsiteUrl))
        {
            authourWebsiteUrl = comment.AuthorWebsiteUrl;
        }

        <article>
            <header>
                <a href="@authourWebsiteUrl">@Html.DisplayFor(modelItem => comment.Author)</a> on <time datetime="@comment.Date">@Html.DisplayFor(modelItem => comment.Date)</time>
            </header>
            <p>@Html.DisplayFor(modelItem => comment.Content)</p>
        </article>
    }
</section>

    @Html.BeginForm("Create", "Comment", FormMethod.Post, new { id = "form_" + itemCount })
    {
        <h3>Post a comment</h3>
        <p>
            <input name="PostID_@itemCount" id="PostID_@itemCount" value="@item.ID" />
        </p>
        <p>
            <label for="Title_@itemCount">Title</label>
            <textarea name="Title_@itemCount" id="Title_@itemCount" required></textarea>
        </p>
        <p>
            <label for="Author_@itemCount">Name</label>
            <input name="Author_@itemCount" id="Author_@itemCount" type="text" required />
        </p>
        <p>
            <label for="AuthorWebsiteUrl_@itemCount">Website</label>
            <input name="AuthorWebsiteUrl_@itemCount" id="AuthorWebsiteUrl_@itemCount" type="url" />
        </p>
        <p>
            <label for="Content_@itemCount">Content</label>
            <textarea name="Content_@itemCount" id="Content_@itemCount" required></textarea>
        </p>
        <p><input id="submit_comment_btn_@itemCount" name="submit_comment_btn_@itemCount" type="submit" value="Post comment" /></p>
    }
}
